MM_DOMAIN=mail.gnuos.local
MM_DB_NAME=mailman
MM_DB_USER=mailman
MM_DB_PASS=change-me
MM_SECRET_KEY=change-me-super-secret
MM_HYPERKITTY_API_KEY=change-me-hyperkitty
MM_ADMIN_USER=admin
MM_ADMIN_EMAIL=admin@gnuos.local
MM_ADMIN_PASSWORD=change-me-admin
